.intro {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1100;
}

@media screen and (max-width: 480px) {
  .intro {
    margin-top: -50px;
  }
}

video {
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  color: #ddd;
  background-color: #000;
  font-family: yu-gothic-pr6n,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font_smaller {
  font-size: 1.4rem;
}

.alka {
  font-family: alkaline,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mincho {
  font-family: vdl-v7mincho,sans-serif;
  font-weight: 300;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  header {
    height: 100px;
    width: 100%;
  }
  header .header_sp {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 50px;
    text-align: center;
  }
  header .header_sp {
    width: 100%;
    position: fixed;
    z-index: 1000;
  }
  header .g_nav_sp {
    display: none;
    position: fixed;
    font-family: yu-gothic-pr6n,sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    width: 100%;
    background-color: #000;
    font-size: 2rem;
    line-height: 50px;
    padding-top: 70px;
  }
  header .g_nav_sp a {
    display: block;
  }
  header .inner {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
  header .inner .logo h1 {
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    display: inline-block;
    line-height: 70px;
  }
  header .btn {
    cursor: pointer;
    height: 20px;
    width: 32px;
    position: absolute;
    right: 0;
    top: 25px;
  }
  header .btn .icon {
    height: 100%;
    width: 100%;
    position: relative;
  }
  header .btn .icon span {
    position: absolute;
    background-color: #fff;
    height: 1px;
    left: 0;
    width: 100%;
  }
  header .btn .icon span:nth-of-type(1) {
    top: 0;
  }
  header .btn .icon span:nth-of-type(2) {
    top: 9px;
  }
  header .btn .icon span:nth-of-type(3) {
    bottom: 0;
  }
  header .close_btn {
    display: none;
    cursor: pointer;
    height: 20px;
    width: 32px;
    position: absolute;
    right: 0;
    top: 25px;
  }
  header .close_btn .icon {
    height: 100%;
    width: 100%;
    position: relative;
  }
  header .close_btn .icon span {
    position: absolute;
    background-color: #fff;
    height: 1px;
    left: 0;
    width: 100%;
  }
  header .close_btn .icon span:nth-of-type(1) {
    top: 0;
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
  header .close_btn .icon span:nth-of-type(2) {
    bottom: 0;
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
  }
}

.g_nav_pc ul {
  color: #fff;
}

.g_nav_pc ul li {
  list-style-type: none;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

@media screen and (min-width: 1024px) {
  .g_nav_pc ul li:nth-child(even) {
    padding: 0 20px;
  }
}

.g_nav_pc ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .g_nav_pc ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.4rem;
    position: fixed;
    z-index: 2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 95px;
    margin-left: 75%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .g_nav_pc ul {
    display: none;
  }
}

.sec_title {
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .sec_title {
    font-size: 1.7rem;
    letter-spacing: 0.35em;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    width: 95px;
    height: 100%;
    text-align: center;
    line-height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .sec_title {
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    text-align: center;
    letter-spacing: 0.35em;
    margin-bottom: 20px;
  }
}

.main_visual {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .main_visual {
    display: block;
  }
}

.main_visual .top_image {
  width: 100%;
  margin-bottom: 100px;
  background: url("../image/topImage.JPG") no-repeat;
  background-size: cover;
  background-position: center;
}

.main_visual .top_image div {
  color: #fff;
  font-family: alkaline,sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
}

@media screen and (min-width: 1024px) {
  .main_visual .top_image div {
    font-size: 5rem;
    margin-top: -100px;
    margin-left: -100px;
    top: 54%;
    left: 50%;
  }
}

@media screen and (max-width: 480px) {
  .main_visual .top_image div {
    font-size: 2.5rem;
    left: 34.5%;
    top: 48%;
  }
}

@media screen and (max-width: 480px) {
  .main_visual {
    width: 100%;
    height: 50vh;
  }
  .main_visual h1 {
    display: none;
  }
  .main_visual .top_image {
    height: 100%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .profile, .episode, .work, .photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .profile, .episode, .work, .photos {
    padding: 50px 0;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    padding-top: 100px;
  }
}

.contents {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .contents {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .contents .l_content, .contents .r_content {
    width: 50%;
    margin: 0 auto;
  }
  .contents .l_content {
    font-family: vdl-v7mincho,sans-serif;
    font-weight: 300;
    font-style: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 50px;
  }
  .contents .l_content div, .contents .l_content ul {
    font-size: 1.55rem;
    letter-spacing: 0.25em;
  }
  .contents .l_content .name {
    font-size: 2.4rem;
  }
  .contents .l_content .name .yomi {
    font-size: 1.8rem;
  }
  .contents .l_content .list {
    margin-bottom: 30px;
    font-family: vdl-v7mincho,sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .contents .l_content .list :nth-child(odd) {
    margin: 8px 0;
  }
  .contents .l_content div:nth-child(2) {
    margin: 40px 0 30px;
  }
  .contents .r_content img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contents .r_content img {
    width: 100%;
  }
  .contents .l_content {
    font-family: vdl-v7mincho,sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 25px;
    padding-top: 25px;
  }
  .contents .l_content div, .contents .l_content ul {
    font-size: 1.3rem;
    letter-spacing: 0.25em;
  }
  .contents .l_content .name {
    font-size: 1.8rem;
  }
  .contents .l_content .name .yomi {
    font-size: 1.2rem;
  }
  .contents .l_content .age {
    line-height: 26px;
  }
  .contents .l_content .list {
    margin-bottom: 15px;
  }
  .contents .l_content .list :nth-child(odd) {
    margin: 5px 0;
  }
  .contents .l_content div:nth-child(2) {
    margin: 20px 0 10px;
  }
}

@media screen and (min-width: 1024px) {
  .episode .contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .episode .contents .l_content, .episode .contents .r-content {
    width: 50%;
  }
  .episode .contents p {
    font-size: 1.55rem;
    letter-spacing: 0.25em;
    line-height: 1.6;
  }
  .episode .contents .epi1 {
    margin-bottom: 55px;
  }
  .episode .contents .r_content {
    font-family: vdl-v7mincho,sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .episode .contents .r_content .subEpisode {
    margin: 10px 0 0 15px;
  }
  .episode .contents .r_content .subEpisode h4 {
    margin: 20px 0 5px 0;
  }
  .episode .contents .r_content .subEpisode p {
    margin-bottom: 8px;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  .episode .contents {
    font-family: vdl-v7mincho,sans-serif;
    font-weight: 300;
    font-style: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.3rem;
    line-height: 23px;
  }
  .episode .contents p {
    margin-bottom: 15px;
  }
  .episode .contents .r_content {
    padding-left: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work .work_inner {
    margin-left: 50px;
  }
  .work .work_contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work .work_contents .work_image {
    width: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px;
    background-color: #1a1a1a;
  }
  .work .work_contents .work_image h3 {
    margin: 0 0 10px 10px;
  }
  .work .work_contents .work_image img {
    width: 100%;
  }
  .work .work_contents .work_image:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: .7;
    -webkit-transition-duration: .7s;
            transition-duration: .7s;
    cursor: pointer;
  }
  .work .work_contents .work_text {
    font-family: vdl-v7mincho,sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.25em;
    font-size: 1.55rem;
    line-height: 1.6;
    margin-left: 40px;
    max-width: 410px;
  }
  .work .work_contents .work_text h3 {
    margin-bottom: 20px;
  }
  .work .work_contents .work_text p {
    margin: 10px 0;
  }
  .work .work_contents:nth-child(even) {
    margin: 100px 0;
  }
}

@media screen and (max-width: 480px) {
  .work .work_contents:nth-of-type(1) {
    margin-bottom: 45px;
  }
  .work .work_image {
    text-align: center;
  }
  .work .work_image img {
    width: 80%;
  }
  .work .work_text {
    font-family: vdl-v7mincho,sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 80%;
    margin: 20px auto 0 auto;
    font-size: 1.3rem;
    line-height: 23px;
  }
  .work .work_text h3 {
    font-size: 1.5rem;
    margin-bottom: 3px;
  }
  .work .work_text p {
    margin-bottom: 5px;
  }
}

.photos .small_image {
  font-family: vdl-v7mincho,sans-serif;
  font-weight: 300;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  .photos {
    padding-top: 120px;
  }
  .photos .big_image {
    width: 70%;
    height: 645px;
    text-align: center;
    margin: 0 30px 0 50px;
  }
  .photos .big_image img {
    max-width: 100%;
    height: auto;
  }
  .photos .small_image {
    width: 10%;
    height: 645px;
    margin-right: 60px;
  }
  .photos .small_image img {
    width: 100%;
    padding-bottom: 7.5px;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
  }
  .photos .small_image img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: .6;
    cursor: pointer;
  }
  .photos .small_image .cap {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .photos img {
    width: 90%;
  }
  .photos .big_image {
    display: none;
  }
  .photos .small_image {
    text-align: center;
  }
  .photos .small_image .cap {
    width: 90%;
    margin: 5px auto 20px auto;
    text-align: left;
  }
  .photos .small_image img:nth-child(even) {
    padding: 20px 0;
  }
}

footer {
  text-align: right;
  color: #aaa;
}

@media screen and (min-width: 1024px) {
  footer {
    height: 50px;
    line-height: 50px;
    background-color: #000;
    font-size: 1.4rem;
    margin-top: 30px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 480px) {
  footer {
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */