@import 'mixin';
// @include mq() 指定しない場合はpc
$bg-color1: #000;
//green候補　#1c362b
$bg-color2: #1c3036;
$bg-color3: #1C3622;
$bg-color4: #1C2936;
$bg-color5: #93087e;
$bg-color6: #9d6c0a;
.intro {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1100;
    @include mq(sp) {
        margin-top: -50px;
    }
}
video {
    width: 100%;
    // position: fixed;
    // z-index: 1100;
}
html {
    font-size: 62.5%;
}
body {
    color: #ddd;
    background-color: $bg-color1;
    @include font_yuGothic;

}
.font_smaller {
    font-size: 1.4rem;
}
.alka {
    @include font_alka;
}
.mincho {
    @include font_mincho;
}


// top
header { 
    @include mq(){
        height: 100px;
        width: 100%;
        .header_sp {
            display: none;
        }
    }
    @include mq(sp){
        height: 50px;
        text-align: center;
        .header_sp {
            width: 100%;
            position: fixed;
            z-index: 1000;
        }
        .g_nav_sp {
            display: none;
            position: fixed;
            @include font_yuGothic;
            height: 100vh;
            width: 100%;
            background-color: #000;
            font-size: 2rem;
            line-height: 50px;
            padding-top: 70px;
            a {
                display: block;
            }
        }
        .inner {
            position: relative;
            width: 90%;
            margin: 0 auto;
            .logo h1 {
                font-size: 1.4rem;
                letter-spacing: 0.1em;
                display: inline-block;
                line-height: 70px;
            }
        }
        .btn {
            cursor: pointer;
            height: 20px;
            width: 32px;
            // padding: 25px 19px;
            position: absolute;
            right: 0;
            top: 25px;
            .icon {
                height: 100%;
                width: 100%;
                position: relative;
                span {
                    position: absolute;
                    background-color: #fff;
                    height: 1px;
                    left: 0;
                    width: 100%;
                }
                span:nth-of-type(1) {
                    top: 0;
                }
                span:nth-of-type(2) {
                    top: 9px;
                }
                span:nth-of-type(3) {
                    bottom: 0;
                }
            }
        }
        .close_btn {
            display: none;
            cursor: pointer;
            height: 20px;
            width: 32px;
            position: absolute;
            right: 0;
            top: 25px;
            .icon {
                height: 100%;
                width: 100%;
                position: relative;
                span {
                    position: absolute;
                    background-color: #fff;
                    height: 1px;
                    left: 0;
                    width: 100%;
                }
                span:nth-of-type(1) {
                    top: 0;
                    transform: translateY(9px) rotate(45deg);
                }
                span:nth-of-type(2) {
                    bottom: 0;
                    transform: translateY(-10px) rotate(-45deg);
                }
            }
        }
    }//スマホメディアクエリ
}

.g_nav_pc ul {
    color: #fff;
    li {
        list-style-type: none;
        transition-duration: .5s;
    }
    li:nth-child(even) {
        @include mq() {
            padding: 0 20px;
        }
    }
    li:hover {
        transform: scale(1.1);
        opacity: .6;
        cursor: pointer;
    }
    @include mq() {
        display: flex;
        font-size: 1.4rem;
        position: fixed;
        z-index: 2;
        width: fit-content;
        height: 95px;
        margin-left: 75%;
        align-items: flex-end;
        padding-bottom: 15px;
    }//pcメディアクエリ
    @include mq(sp) {
        display: none;
    }//スマホメディアクエリ
}

.sec_title {
    color: #fff;
    @include mq() {
        font-size: 1.7rem;
        letter-spacing: 0.35em;
        writing-mode: vertical-rl;
        width: 95px;
        height: 100%;
        text-align: center;
        line-height: 100px;
    }
    @include mq(sp) {
        font-size: 1.4rem;
        width: 100%;
        height: 100%;
        text-align: center;
        letter-spacing: 0.35em;
        margin-bottom: 20px;
    }
}

.main_visual {
    // @include mq() {
        position: relative;
        display: flex;
        width: 100%;
        margin: 0 auto;
        @include mq(sp) {
            display: block;
        }
        
        .top_image {
            width: 100%;
            margin-bottom: 100px;
            background: url("../image/topImage.JPG") no-repeat;
            background-size: cover;
            background-position: center;

            div {
                color: #fff;
                @include font_alka;
                position: absolute;
                
                @include mq() {
                    font-size: 5rem;
                    margin-top: -100px;
                    margin-left: -100px;
                    top: 54%;
                    left: 50%;
                }
                @include mq(sp) {
                    font-size: 2.5rem;
                    left: 34.5%;
                    top: 48%;
                }
            }
        }
    // }//pcメディアクエリ
    @include mq(sp) {
        width: 100%;
        height: 50vh;
        h1 {
            display: none;
        }
        .top_image {
            height: 100%;
            margin-top: 20px;
        }
    }
}//.main_visual

// Profile
.profile,.episode,.work,.photos {
    @include mq() {
        display: flex;
    }
    @include mq(sp) {
        padding: 50px 0;
    }
}
.profile {
    @include mq(sp) {
        padding-top: 100px;
    }
}
.contents {
    width: 100%;
    margin: 0 auto;
    display: flex;
    @include mq() {
        align-items: center;
        margin: 0 auto;
        .l_content,.r_content {
            width: 50%;
            margin: 0 auto;
        }
        .l_content {
            @include font_mincho;
            align-items: center;
            justify-content: center;
            margin-left: 50px;
            div,ul {
                font-size: 1.55rem;
                letter-spacing: 0.25em;
            }
            .name {
                font-size: 2.4rem;
                .yomi {
                    font-size: 1.8rem;
                }
            }
            .list {
                margin-bottom: 30px;
                @include font_mincho;
                :nth-child(odd) {
                    margin: 8px 0;
                }
            }
            div:nth-child(2){
                margin: 40px 0 30px;
            }
        }//.l-content
        .r_content {
            img {
                width: 100%;
            }
        }
        
    }//pcメディアクエリ
    @include mq(sp) {
        flex-direction: column-reverse;
        .r_content {
            // margin-bottom: 50px;
            img {
                width: 100%;
            }
        }
        .l_content {
            @include font_mincho;
            padding-left: 25px;
            padding-top: 25px;
            div,ul {
                font-size: 1.3rem;
                letter-spacing: 0.25em;
            }
            .name {
                font-size: 1.8rem;
                .yomi {
                    font-size: 1.2rem;
                }
            }
            .age {
                line-height: 26px;
            }
            .list {
                margin-bottom: 15px;
                :nth-child(odd) {
                    margin: 5px 0;
                }
            }
            div:nth-child(2){
                margin: 20px 0 10px;
            }
        }
    }
}//.contents

// Episode
.episode {
    @include mq (){
        .contents {
            display: flex;
            margin: 0 auto;
            margin-bottom: 100px;
            .l_content,.r-content {
                width: 50%;
            }
            p {
                font-size: 1.55rem;
                letter-spacing: 0.25em;
                line-height: 1.6;
            }
            .epi1 {
                margin-bottom: 55px;
            }
            .r_content {
                @include font_mincho;
                .subEpisode {
                    margin: 10px 0 0 15px;
                    h4 {
                        margin: 20px 0 5px 0;
                    }
                    p {
                        margin-bottom: 8px;
                        font-size: 1.4rem;
                        line-height: 1.5;
                    }
                }
                
            }
        }//.contents
    }//pcメディアクエリ
    @include mq(sp) {
        .contents {
            @include font_mincho;
            flex-direction: column;
            font-size: 1.3rem;
            line-height: 23px;
            p {
                margin-bottom: 15px;
            }
            .r_content {
                padding-left: 25px;
            }
        }
        
    }
    
}//.episode

.work {
    @include mq() {
        display: flex;
        align-items: center;
        .work_inner {
            margin-left: 50px;
        }
        .work_contents {
            display: flex;
            width: 100%;
            margin: 0 auto;
            align-items: center;
            .work_image {
                width: 50%;
                height: fit-content;
                padding: 20px;
                background-color: #1a1a1a;
            }
            .work_image h3 {
                margin: 0 0 10px 10px;
            }
            .work_image img {
                width: 100%;
                
            }
            .work_image:hover {
                transform: scale(1.05);
                opacity: .7;
                transition-duration: .7s;
                cursor: pointer;
            }
            .work_text {
                @include font_mincho;
                letter-spacing: 0.25em;
                font-size: 1.55rem;
                line-height: 1.6;
                margin-left: 40px;
                max-width: 410px;
                h3 {
                    margin-bottom: 20px;
                }
                p {
                    margin: 10px 0;
                }
            }
        }
        .work_contents:nth-child(even) {
            margin: 100px 0;
        }
    }//pcメディアクエリ
    @include mq(sp) {
        .work_contents:nth-of-type(1){
            margin-bottom: 45px;
        }
        .work_image {
            text-align: center;
            img {
                width: 80%;
            }
        }
        .work_text {
            @include font_mincho;
            width: 80%;
            margin: 20px auto 0 auto;
            font-size: 1.3rem;
            line-height: 23px;
            h3 {
                font-size: 1.5rem;
                margin-bottom: 3px;
            }
            p {
                margin-bottom: 5px;
            }
        }
        
    }
}//.work
.photos {
    .small_image {
        @include font_mincho;
    }
    @include mq() {
        padding-top: 120px;
        .big_image {
            width: 70%;
            height: 645px;
            text-align: center;
            margin: 0 30px 0 50px;
            img {
                // width: 80%;
                max-width: 100%;
                height: auto;
            }
        }
        .small_image {
            width: 10%;
            height: 645px;
            margin-right: 60px;
            
            img {
                width: 100%;
                padding-bottom: 7.5px;
                transition-duration: .5s;
            }
            img:hover {
                transform: scale(1.2);
                opacity: .6;
                cursor: pointer;
            }
            .cap {
                margin-bottom: 10px;
            }
        }
    }//pcメディアクエリ
    @include mq(sp) {
        img {
            width: 90%;
        }
        .big_image {
            display: none;
        }
        .small_image {
            text-align: center;
            .cap {
                width: 90%;
                margin: 5px auto 20px auto;
                text-align: left;
            }
        }
        .small_image img:nth-child(even) {
            padding: 20px 0;
        }
    }
}//.photos

footer {
    text-align: right;
    color: #aaa;
    @include mq() {
        height: 50px;
        line-height: 50px;
        background-color: #000;
        font-size: 1.4rem;
        margin-top: 30px;
        padding-right: 50px;
    }
    @include mq(sp) {
        height: 30px;
        line-height: 30px;
        padding-right: 10px;
    }
}


